/* html, body {
    margin: 0;
    padding: 0;
} */
  
/* canvas {
    display: flex; 
} */

.button {
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* color: #EEE82C; */
    color: #2DE1C2;
    background-color: #156064;
    width: fit-content;
    height: auto;
    font-size: large;
}

#creationCanvas {
    position: absolute;
    margin: 10px;
    top: 135px;
    left: 0px;
}
  